#homebutton{
	text-align: center;
	padding: 8px 12px 8px 12px;
	width:100%;
	text-decoration: none;
	color: white;
	background-color: brown;
}
#homebutton:hover{
	background-color: white;
	color: brown;
}