.collapsible {
  background-color: brown;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
  color: brown;
  border: 1px solid brown;
  font-weight: bold;
}
#smoesjes{
  
  margin: 30px;
}

/* Style the collapsible content. Note: hidden by default */
.smoesje {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.smoesje>img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#filter{
  margin: 40px;
}

#filter>a{
  display: block;
  background-color: #f1f1f1;
  padding: 10px 20px 10px 20px;
  color: black;
  text-decoration: none;
}
#filter>a:hover{
  background-color:white;
}