#gridContainer{
		display: grid;

		grid-template-columns: 100%;
		grid-template-rows: 50px auto auto auto 100px ;
		grid-template-areas: "menu"
												 "intro"
												 "foto"
												 "."
												 "footer";
		min-height: 100vh;
	}

	#menu{
		grid-area: menu;
	}

	#intro{
		grid-area: intro;
	}

	#footer{
		grid-area: footer;
	}
	
	#foto{
		grid-area: foto;
	}