#menu{
	background-color: brown;
	width: 100%;
	position: fixed;
}
#menu>ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#menu ul>li {
	float: left;
	width: 24.999%;
}

#menu>ul>li>a {
	display: block;
	text-align: center;
	padding: 8px 0 8px 12px;
	width:100%;
	text-decoration: none;
	color: white;
}
#menu>ul>li>a:hover{
	background-color: white;
	color: brown;
}
