body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: brown;
}

.active {
  background-color: brown;
}

.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
 

@media screen and (min-width: 650px)
{
	.topnav .icon {
  display: none;
}
	 .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
	.topnav {
  background-color: brown;
}
}